customer_order_ws/src/main/resources/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/CustomerOrders/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService"
	targetNamespace="http://www.example.org/CustomerOrders/">

	<!-- TYPES -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/CustomerOrders/"
			xmlns:tns="http://www.example.org/CustomerOrders/"
			elementFormDefault="unqualified">
			<!-- models -->
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="product" type="tns:product"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer" minOccurs="0" />
					<xsd:element name="description" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="quantity" type="xsd:integer"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- request/response -->
			<xsd:complexType name="getOrderRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getOrderResponse">
				<xsd:sequence>
					<xsd:element name="order" type="tns:order" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createOrderRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer" />
					<xsd:element name="order" type="tns:order" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createOrderResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- creating the elements from the complex types -->
			<xsd:element name="getOrderRequest" type="tns:getOrderRequest" />
			<xsd:element name="getOrderResponse" type="tns:getOrderResponse" />
			<xsd:element name="createOrderRequet" type="tns:createOrderRequest" />
			<xsd:element name="createOrderResponse" type="tns:createOrderResponse" />
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGES -->
	<wsdl:message name="getOrderRequest">
		<wsdl:part name="parameters" element="tns:getOrderRequest" />
	</wsdl:message>

	<wsdl:message name="getOrderResponse">
		<wsdl:part name="parameters" element="tns:getOrderResponse" />
	</wsdl:message>

	<wsdl:message name="createOrderRequest">
		<wsdl:part name="parameters" element="tns:createOrderRequet" />
	</wsdl:message>

	<wsdl:message name="createOrderResponse">
		<wsdl:part name="parameters" element="tns:createOrderResponse" />
	</wsdl:message>

	<!-- PORTS | Operations -->
	<wsdl:portType name="CustomerOrdersPortType">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrderRequest" name="getOrderRequest" />
			<wsdl:output message="tns:getOrderResponse" name="getOrderResponse" />
		</wsdl:operation>

		<wsdl:operation name="createOrder">
			<wsdl:input message="tns:createOrderRequest" name="createOrderRequest" />
			<wsdl:output message="tns:createOrderResponse" name="createOrderResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- BINDINGS -->
	<wsdl:binding name="CustomerOrderServiceSoapBinding" type="tns:CustomerOrdersPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<!-- get-orders -->
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- create-order -->
		<wsdl:operation name="createOrder">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- SERVICE -->
	<wsdl:service name="CustomerOrdersService">
		<wsdl:port name="CustomerOrdersPort" binding="tns:CustomerOrderServiceSoapBinding">
			<soap:address
				location="http://localhost:8081/customer_order_ws/services/customerOrdersServic" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
